$black: #000;
$white: #fff;

$color1:#1d1d1d;
$color2:#334357;
$color3:#f7525a;
$color4:#f4c3bc;
$color5:#777777;
$color6:#7d7d7d;
$color7:#1e1e1e;
$color8:#ebebeb;
$color9:#e5e5e5;
$color10:#a3a5a7;
$color11:#303030;
$color12: #cfcbd4;
$color13: #1e1e1f;